<h1>People#send_summary</h1>

<p>
  <%= @greeting %>, find me in app/views/people_mailer/send_summary.html.erb
  <%= @greeting %>, find me in app/views/people_mailer/send_summary.html.erb
  <%= @greeting %>, find me in app/views/people_mailer/send_summary.html.erb
  Test without deliver_later/now
  
</p>
